

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
	border-collapse: collapse;
	font-family: 'Alegreya', serif;
	margin: 0;
}

div, p {
	margin: 0;
}

#Cogna {
  float: left;
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  font-weight: bold;
  padding: 40px 20px 10px 20px;
  margin-right: 0.5em;
  width: 20%;
  height: 15vh;
  border-bottom: 2px solid black;
}

h1 {
  font-family: 'Lobster Two';
  vertical-align: text-bottom;
  font-size: 40px;
  height: 15vh;
  padding: 60px 20px 10px 20px;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid black;
}

.maintext {
  padding: 1.58em; padding-left: 2em;
  height: 85vh;
  display: block;
  width: 80%;
  overflow: auto;
  text-indent: 0;
  overflow-y: scroll;
}

nav {
  float: left;
  font-family: 'Lobster Two', cursive;
  font-size: 1em;
  overflow-y: scroll;
  width: 20%;
  height: 85vh;
  background-color: #FFFF80;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: #FFD800;
}

nav ul li {
	padding: 20px;
	color: #302000;
	display: block;
}

nav ul li a {
	text-decoration: inherit;
	color: inherit;
	display: block;
}

nav ul li:hover {
	background-color: #FFB040;
}

nav, .maintext, h1, #Cogna {
  box-sizing: border-box;
}

#Cogna, nav {
	border-right: 2px solid black;
}

.maintext p {
	margin-bottom: 1em;
}

dt {
	font-weight: bold;
}

dt a {
	text-decoration: none;
}
