

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

#Cogna {
	float: left;
	font-family: 'Lobster Two', cursive;
	font-size: 60px; font-weight: bold; 
	border: 2px solid black; 
	padding: 40px 20px 10px 20px; margin-right: 0.5em;
	width: 20%; height: 20%;
}

h1 {
	font-family: 'Lobster Two';
	vertical-align: text-bottom;
	font-size: 20px; border: 2px solid black; 
	height: 20%;
	padding: 4em 1em 1em 1em;
}

.maintext {
	padding: 1.58em; height: 46em;
	display: block;
	border: 2px solid black;
	min-width: 80%;
}

nav {
	float: left;
	font-family: 'Lobster Two', cursive;
	font-size: 1em; 
	padding: 40px 20px 10px 20px;
	overflow-y: scroll;
	width: 20%; height: 46em;
	border: 2px solid black;

}

nav ul {
	list-style: none;
}